@import '~@material/list/mdc-list';

mdc-list, mdc-list-item {
  display: block;
}

mdc-divider {
  display: block;
  @extend .mdc-list-divider;
}

mdc-divider-inset {
  display: block;
  @extend .mdc-list-divider, .mdc-list-divider--inset;
}
