@import '~@material/select/mdc-select';

.mdc-select .mdc-list-item[disabled="disabled"] {
  @extend .mdc-list-item[aria-disabled="true"];
}

.mdc-multi-select {
  optgroup {
    @extend .mdc-list-group;
  }
  option {
    cursor: pointer;
    @extend .mdc-list-item;
  }
  option:disabled {
    @include mdc-theme-prop(color, text-disabled-on-light);
    cursor: default;
    pointer-events: none;
    user-select: none;
  }
  option.mdc-list-divider {
    height: 0;
  }
}