@import '~@material/grid-list/mdc-grid-list';

mdc-grid-list {
  @extend .mdc-grid-list;
}

mdc-grid-tile {
  @extend .mdc-grid-tile;

  //TODO: remove when https://github.com/material-components/material-components-web/pull/1136 is merged
  /* @alternate */
  width: $mdc-grid-list-tile-width;
  width: var(--mdc-grid-list-tile-width, $mdc-grid-list-tile-width);
}

.mdc-grid-tile__icon {
  font-size: $mdc-grid-list-tile-secondary-icon-size;  // override
}

.mdc-grid-list--with-icon-align-end, .mdc-grid-list--with-icon-align-start {
  mdc-icon {
    @extend .mdc-grid-tile__icon;
  }
}
