@import '~@material/theme/mixins';
@import '~@material/icon-toggle/mixins';

#light-on-bg {
  background-color: #3e82f7;
}
#light-on-bg .mdc-icon-toggle {
  @include mdc-icon-toggle-ink-color(white);
  @include mdc-states-base-color(white);
  @include mdc-states-hover-opacity(.1);
  @include mdc-states-focus-opacity(.3);
  @include mdc-states-press-opacity(.4);
}

#dark-on-bg {
  background-color: #00bcd6;
}
#dark-on-bg .mdc-icon-toggle {
  @include mdc-icon-toggle-ink-color(black);
  @include mdc-states(black);
}

#custom-on-dark .mdc-icon-toggle {
  @include mdc-icon-toggle-ink-color(#de442c);
  @include mdc-states-base-color(#de442c);
  @include mdc-states-hover-opacity(.09);
  @include mdc-states-focus-opacity(.26);
  @include mdc-states-press-opacity(.35);
}
