<mdc-dialog role="alertdialog" aria-hidden="true" tabIndex="-1"
            aria-label="{{ dialog.ariaLabel }}" ng-class="dialog.css">
    <div class="mdc-dialog__surface">
        <mdc-dialog-header>
            <h2 class="mdc-dialog__header__title">{{ dialog.title }}</h2>
        </mdc-dialog-header>
        <mdc-dialog-body ng-if="::dialog.mdHtmlContent" ng-bind-html="::dialog.mdHtmlContent"></mdc-dialog-body>
        <mdc-dialog-body ng-if="::!dialog.mdHtmlContent">
            <p ng-if="::dialog.mdTextContent">{{::dialog.mdTextContent}}</p>
            <label ng-if="::dialog.$type == 'prompt'">
                <input ng-keypress="dialog.keypress($event)" ng-model="dialog.result" placeholder="{{::dialog.placeholder}}">
            </label>
        </mdc-dialog-body>
        <mdc-dialog-footer>
            <button ng-if="dialog.$type === 'confirm' || dialog.$type === 'prompt'"
                    type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">
                {{ dialog.cancel }}
            </button>
            <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">
                {{ dialog.ok }}
            </button>
        </mdc-dialog-footer>
    </div>
    <div class="mdc-dialog__backdrop"></div>
</mdc-dialog>
